{% extends 'base.html' %}

{% block content %}

{% if order_list %}
<table class="table">
    <thead>
        <tr>
            <th>Авто</th>
            <th>Начало периода</th>
            <th>Конец периода</th>
            <th>Дата заказа</th>
            <th>Офис заказа</th>
            <th>Номер заказа</th>
            <th>Статус заказа</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    {% for order in order_list %}
        <tr>
            <td><a href="{% url 'catalog:detail' order.office order.car %}">{{ order.car_name }}</a></td>
            <td>{{ order.start_date }}</td>
            <td>{{ order.end_date }}</td>
            <td>{{ order.create_time }}</td>
            <td>{{ order.office.name }}</td>
            <td>{{ order.order }}</td>
            <td>{{ order.status_name }}</td>
            <td>{{ order.sum }}</td>
            <td>
                {% if order.status == 'reserve' %}
                <a href="{% url 'account:pay_order' order.id %}">оплатить</a>
                <a href="{% url 'account:cancel_order' order.id %}">отменить</a>
                {% endif %}
            </td>
            
        </tr>
    {% endfor %}
</table>
{% include "pager.html" with items=order_list %}

{% else %}
    <p>Нет заказов.</p>
{% endif %}

{% endblock %}