{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <img src="{{ car.image }}"><br>
        <h1>{{ car.name }}</h1>
        <h2>{{ car.class }}</h2>
        <h3>{{ car.body }}</h3>
        <ul>
        <li>на сутки: ${{ car.tarifs.0 }}</li>
        <li>от 3 до 15 суток: ${{ car.tarifs.1 }}</li>
        <li>от 15 до 30 суток: ${{ car.tarifs.2 }}</li>
        <li>от 30 суток: ${{ car.tarifs.3 }}</li>
        </ul>
    </div>
    <div class="col-md-7">
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Бронировать" class="btn btn-primary"/>
        </form>
    </div>
</div>
{% endblock %}