{% extends 'base.html' %}

{% block content %}

<form action="" method="get">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Поиск" class="btn btn-primary"/>
</form>

{% if car_list %}
<div class="row" >
    {% for car in car_list %}
        <div class="col-md-3" style="height:200px; ">
            <div style="height:150px; overflow: hidden;">
                <a href="{% url 'catalog:detail' car.office car.id %}"><img src="{{ car.image }}" width="250px"></a><br>
            </div>
            <a href="{% url 'catalog:detail' car.office car.id %}">{{ car.name }} ({{ car.body }})</a><br>
            <i>{{ car.class }}</i>&nbsp;<b>${{ car.tarifs.0 }}</b><br>
        </div>
    {% endfor %}
</div>
    
{% include "pager.html" with items=car_list %}

{% else %}
    <p>Нет доступных автомобилей.</p>
{% endif %}

{% endblock %}