<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% if car_list %}
    {% for car in car_list %}
        <div>
        <img src="{{MEDIA_URL }}{{ car.image }}"><br>
        <a href="{% url 'detail' car.id %}">{{ car.name }}</a>
        </div>
    {% endfor %}
    
    {% include "pager.html" with items=car_list %}

{% else %}
    <p>Нет доступных автомобилей.</p>
{% endif %}

<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>